/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}
/* end css reset */

/********************************/
/* PART 1: STYLES FOR ALL PAGES */
/********************************/


/********** GENERAL STYLES **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #414141;
	font-size : 62.5%;
	position: relative;
}

p {
	font-size: 1.5em;
}

/********** HEADER **********/
header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	align-content: flex-start;
	padding-top: 30px;	
}

#title h1 {
	padding: 20px;
	font-size: 22px;
}

header #menu {
	float : left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	margin : auto;
}

header #menu a {
	display: block;
	float: left;
	width : 110px;
	padding-left : 2px;
	padding-right : 2px;
	margin : auto;
}

header #menu a img {
	width: 100%;
	height: 62px;
	display: block;
}

/********** MAIN **********/
main[role="main"] {
	clear: both;
	border: 20px solid #dddddd;
	font-size: 1.3em;
	line-height: 1.65em;
	width: 100%;
}

main[role="main"]:after {
	content: ' ';
	display: block;
	clear: both;
}

/********** WRAPPER **********/
#wrap {
	max-width: 1024px;
	margin: 0 auto;
}

/********** FOOTER **********/
footer {
	clear: both;
	float: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	border: 20px solid #dddddd;
	border-top: none;
	background: #027d8d;
	color: #ffffff;
	text-align: justify;
	width: 100%;
	padding: 2% 1% 0;
}

footer .footer-entry {
	display: block;
	flex: 1 1 13.5em;
	margin: 0 1% 2%;
	font-size: 1.5em;
	line-height: 1.2em;
}

footer:after {
	content: ' ';
	display: block;
	clear: both;
}

img.project {
	max-width: 188px;
	width : 96%;
}

img.socialmedia {
	width: 35px;
	height: 35px;
}

img.qr {
	width: 75px;
	height: 75px;
}

/********** NEW MENU **********/
#newmenu {
	opacity: 0.2;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #dddddd;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}

#newmenu #menuwrap {
	width: 200px;
	height: 200px;
	display: block;
	background: #fff;
	border: 20px solid #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#newmenu #orange {
	position: absolute;
	width: 34px;
	height: 34px;
	top: 3px;
	left: 3px;
	z-index: 100;
}

#newmenu #star {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 2px;
	left: 40px;
}

#newmenu a.menu-entry {
	width: 50%;
	height: 50%;
	float: left;
	display: block;
}

#newmenu a.menu-entry img {
	width: 100%;
}

#newmenu a.menu-entry img:hover {
	-webkit-animation: myfirst 0.25s linear 0.1s infinite normal;
}

@-webkit-keyframes myfirst {
	0% {-webkit-transform: rotate(0deg) scale(1);}
	25% {-webkit-transform: rotate(4deg) scale(1.05);}
	50% {-webkit-transform: rotate(0deg) scale(1);}
	75% {-webkit-transform: rotate(-4deg) scale(1.05);}
	100% {-webkit-transform: rotate(0deg) scale(1);}
}

@keyframes myfirst {
	0% {transform: rotate(0deg) scale(1);}
	25% {transform: rotate(4deg) scale(1.05);}
	50% {transform: rotate(0deg) scale(1);}
	75% {transform: rotate(-4deg) scale(1.05);}
	100% {transform: rotate(0deg) scale(1);}
}

/********** DESKTOP **********/
@media screen and (min-width:1024px) {
	#title {
		width: 40%;
		background: #dddddd;
	}
}

/********** TABLET AND SMARTPHONE **********/
@media screen and (max-width:1023px) {
	header {
		flex-direction: column;
		padding-top: 0;
	}
	
	header #menu a {
		margin-bottom: 10px;
	}
	
	#title {
		margin: auto;
	}
	
	#wrap {
		background: #dddddd;
	}
}

/********** TABLET PORTRAIT **********/

@media screen and (max-width: 1023px) and (min-width: 768px) {
	body {
		font-size : 65%;
	}
	
	#wrap {
		width: 768px;
	}
		
}

/********** SMARTPHONE LANDSCAPE **********/

@media screen and (max-width: 767px) and (min-width: 480px) {
	body {
		font-size : 67.5%;
	}
	
	#wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	main[role="main"] {
		border: none;
	}
	
	footer {
		border: none;
		padding: 4% 2% 0 2%;
	}
}

/********** SMARTPHONE PORTRAIT **********/

@media screen and (max-width: 479px) {
	body {
		font-size : 70%;
	}
	
	#wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	main[role="main"] {
		border: none;
	}
	
	footer {
		border: none;
		padding: 4% 2% 0 2%;
		flex-basis: 100%;
		text-align: center;
	}
}

/********************************/
/* PART 2: STYLES FOR EACH PAGE */
/********************************/

/********** INDEX PAGE **********/

#indexmain {
	background: black url(images/bg1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#maincontent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding: 2% 1% 0;
}

#maincontent article {
	display: block;
	flex: 3 3;
}

#maincontent article.info {
	width: 500px;
	flex: 2 2;
	margin: 0 1% 2%;
	background: #000000;
	color: white;
	opacity: 0.5;
	padding: 2%;
}

/* tablet portrait */
@media screen and (max-width: 1023px) and (min-width: 768px) {
	#maincontent article.info {
		flex: 3 3;
	}
}

/* smartphone landscape */
@media screen and (max-width: 767px) and (min-width: 480px) {
	#maincontent article.info {
		flex: 6 6;
	}
}

/* smartphone portrait */
@media screen and (max-width: 479px) {
	#maincontent article.info {
		min-width: 98%;
	}
}

/********** BLOG PAGE **********/
#blogmain {
	background: url(images/bg2.png) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blog {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding: 2% 1% 0;
}

#blog article {
	display: block;
	flex: 1 1 25em;
	margin: 0 1% 2%;
	background: #ffffff;
	opacity: 0.5;
	padding: 2%;
}

#blog article figure {
	float: left;
}

#blog article figure img {
	width: 100%;
	max-width: 146px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 2px;
}

#blog article h2 {
	display: inline;
	font-weight: bold;
	float: both;
}

#blog article p {
	display: inline;
	font-size: 1em;
	float: both;
}

/* styles for portfolio page */
#portfoliomain {
	background: black url(images/bg3.png) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#portfolio {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding: 2% 1% 0;
}

#portfolio article {
	display: block;
	flex: 1 1 16em;
	margin: 0 1% 2%;
	background: #ffffff;
}

#portfolio article figure img {
	width: 100%;
}

#portfolio article hgroup {
	clear: both;
	margin: 8%;
	color: #333333;
}

#portfolio article hgroup h2 {
	font-weight: bold;
}

/* styles for contact us page */
#contactusmain {
	background: url(images/bg4.png) no-repeat top center;
	color: white;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contactus {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding: 2% 1% 0;
}

#contactustitle {
	margin: 0 0 20% 0;
	float: none;
	flex: 1 1 100%;
}

#contactustitle h1 {
	font-size: 4.5em;
}

#form, #contact {
	display: block;
	margin: 0 1% 2%;
	flex: 1 1 30em;
	float: left;
	font-size: 1em;
}

.inputname {
	float: left;
}

input {
	float: right;
	border: none;
	padding: 1px;
}

textarea {
	width: 100%;
	height: 100%;
	border: none;
}

button {
	border: none;
	background: #ffffff;
	padding: 1%;
	font-family: Times New Roman, serif;
	font-size: 1em;
}

#contact {
	color: black;
	background: #ffffff;
	opacity: 0.75;
	padding: 2%;
}

#contact div:after {
	content: ' ';
	display: block;
	clear: both;
}

.right-align {
	float: right;
	text-align: right;
	clear: both;
}

/* smartphone landscape and portrait */
@media screen and (max-width:767px) {
	#form {
		order: 2;
	}
	
	#contact {
		order: 1;
	}
	
	#form, #contact {
		flex: 1 1 100%;
	}
	
	#contactustitle {
		margin: 0 0 10% 0;
	}
}