#main {
	background: url(images/bg2.png) no-repeat top center;
	height: 488px;
}

ul#blog li{
	display: block;
	float: left;
	width: 478px;
	height: 194px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: #ffffff;
	opacity: 0.5;
}

ul#blog li:nth-child(2n+1) {
	margin-left: 0px;
}

ul#blog li div {
	margin: 20px;
}

ul#blog li div div {
	margin: 0;
}

ul#blog li div div img {
	width: 146px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 2px;
}