#main {
	background: url(images/bg1.png) no-repeat center center;
	height: 570px;
}

#maincontent {
	height: 490px;
	width: 398px;
	padding: 20px;
	background: #000000;
	color: white;
	opacity: 0.5;
}