/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}
/* end css reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #414141;
	font-size : 62.5%;
}

#title h1 {
	padding: 20px;
	font-size: 22px;
}

#header #menu a {
	display: block;
	float: left;
	width : 19%;
	margin-left: 10px;
}

#header #menu a img {
	width: 100%;
	height: 62px;
	display: block;
	
}


div[role="main"] {
	clear: both;
	border: 20px solid #dddddd;
	font-size: 1.3em;
	line-height: 1.65em;
	width: 100%;
}

div[role="main"]:after {
	content: ' ';
	display: block;
	clear: both;
}

#footer {
	clear: both;
	float: none;
	border: 20px solid #dddddd;
	border-top: none;
	background: #027d8d;
	color: #ffffff;
	font-size: 1.5em;
	line-height: 1.2em;
	text-align: justify;
	width: 100%;
	padding-bottom: 2%;
}

#footer .footer-entry {
	width: 22.5%;
	margin: 2% 0 0 2%;
	float: left;
}

#footer:after {
	content: ' ';
	display: block;
	clear: both;
}

#wrap {
	max-width: 1024px;
	margin: 30px auto;
}

#header #menu {
	height : 62px;
}

img.project {
	max-width: 188px;
	width : 96%;
}

img.socialmedia {
	width: 35px;
	height: 35px;
}

img.qr {
	width: 75px;
	height: 75px;
}
/**************** DESKTOP ****************/

@media screen and (min-width:1024px) {
	#title {
		width: 40%;
		background: #dddddd;
	}
	
	#header {
		height: 62px;
	}

	#header div {
		float: left;
	}
	
	#header #menu {
		width : 56%;
	}
	
	#header #menu a {
		width : 19%;
		margin-left: 10px;
	}
	#header #menu a:first-of-type {
		margin-left: 55px;
	}
}

/************** TABLET AND SMARTPHONE ***************/
@media screen and (max-width:1023px) {	
	#header {
		height: 134px;
	}
	
	#title {
		max-width : 422px;
		width: 100%;
		margin-left : auto;
		margin-right : auto;
	}

	#title h1 {
		padding: 20px;
		font-size: 2.2em;
		text-align : center;
	}
	
	#header #menu {
		max-width : 482px;
		display : block;
		margin-left : auto;
		margin-right : auto;
	}

	#header #menu a {
		max-width: 113px;
		width : 23.5%;
		margin-left: 2%;
	}
	
	#header #menu a:first-of-type {
		margin-left: 0px;
	}	

	#header #menu a img {
		width: 100%;
		height: 62px;
		display: block;
	}
}

/************** TABLET & SMARTPHONE ****************/

@media screen and (max-width: 1023px) {
	#wrap {
		background: #dddddd;
	}
}

/************** TABLET PORTRAIT ****************/

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#wrap {
		width: 768px;
	}
	
	#header #menu {
		width : 96%;
	}
	
	#footer .footer-entry {
		width: 47%;
		margin: 2% 0 0 2%;
		float: left;
		text-align: center;
	}
	
	#footer .footer-entry:nth-of-type(2n+1) {
		clear: both;
	}
}

/************** SMARTPHONE LANDSCAPE ****************/

@media screen and (max-width: 767px) and (min-width: 480px){
	#wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#header #menu {
		width : 91.5%;
	}
	
	div[role="main"] {
		border: none;
	}
	
	#footer {
		border: none;
		padding-bottom: 4%;
	}
	
	#footer .footer-entry {
		width: 44%;
		margin: 4% 0 0 4%;
		float: left;
		text-align: center;
	}
	
	#footer .footer-entry:nth-of-type(2n+1) {
		clear: both;
	}
}

/************** SMARTPHONE PORTRAIT ****************/

@media screen and (max-width: 479px) {
	#wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#header {
		height : 206px;
	}
	
	#header #menu {
		width : 100%;
		max-width : 280px;
		height : 144px;
		padding-left : 20px;
		padding-right : 20px;
		margin-left : auto;
		margin-right : auto;
	}
	
	#header #menu a:nth-child(3) {
		clear : left;
		margin-left : 0px;
	}
	
	#header #menu a {
		max-width: 113px;
		width : 47%;
		margin-left: 5%;
		margin-bottom : 10px;
	}
	
	div[role="main"] {
		border: none;
	}
	
	#footer {
		border: none;
		padding-bottom: 1%;
		padding-top: 4%;
	}
	
	#footer .footer-entry {
		width: 92%;
		margin: 0 0 4% 4%;
		float: none;
		text-align: center;
	}
}

/* styles for index page */

#indexmain {
	background: black url(images/bg1.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#maincontent {
	margin: 2%;
	min-height: 490px;
	padding: 2%;
	background: #000000;
	color: white;
	opacity: 0.5;
	width: 47%;
}

/***************** TABLET PORTRAIT *******************/

@media screen and ( max-width:1023px ) and (min-width:768px) {
	#maincontent {
		width : 47%;
	}
}

/***************** SMARTPHONE (LANDSCAPE AND PORTRAIT) *******************/

@media screen and (max-width:767px) {
	#indexmain {
		padding: 4%;
	}
	
	#maincontent {
		margin: 0;
		width : 100%;
	}
}

/******************** styles for blog page **********************/

#blogmain {
	background: url(images/bg2.png) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul#blog {
	padding-bottom: 2%;
	display: block;
}

ul#blog:after {
	content: ' ';
	clear: both;
	display: block;
}

ul#blog li {
	display: block;
	float: left;
	width: 47%;
	margin: 2% 0 0 2%;
	background: #ffffff;
	opacity: 0.5;
	padding: 2%;
}

ul#blog li:nth-child(2n+1) {
	clear: both;
}

ul#blog li div {
	height: 100%;
}

ul#blog li div div {
	margin: 0;
}

ul#blog li div div img {
	width: 100%;
	max-width: 146px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 2px;
}

/***************** TABLET PORTRAIT *******************/

@media screen and (max-width:1023px) and (min-width:768px) {
	
}

/***************** SMARTPHONE (LANDSCAPE AND PORTRAIT) *******************/

@media screen and (max-width:767px) {
	ul#blog {
		padding-bottom: 4%;
	}
	
	ul#blog li {
		width: 92%;
		margin: 4% 0 0 4% !important;
	}
}


/* styles for portfolio page */
#portfoliomain {
	background: black url(images/bg3.png) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul#portfolio {
	padding-bottom: 2%;
}

ul#portfolio:after {
	content: ' ';
	clear: both;
	display: block;
}

ul#portfolio li {
	display: block;
	float: left;
	width: 22.5%;
	margin: 2% 0 0 2%;
	background: #ffffff;
}

ul#portfolio li:nth-child(4n+1) {
	clear: both;
}

ul#portfolio li div img {
	width: 100%;
}

ul#portfolio li div div {
	margin: 20px;
	color: #333333;
}

/***************** TABLET PORTRAIT *******************/

@media screen and (max-width:1023px) and (min-width:768px) {
	
}

/***************** SMARTPHONE LANDSCAPE *******************/

@media screen and (max-width:767px) and (min-width:480px) {
	ul#portfolio {
		padding-bottom: 4%;
	}
	
	ul#portfolio li {
		width: 44%;
		margin: 4% 0 0 4% !important;
	}
	
	ul#portfolio li:nth-child(2n+1) {
		clear: both;
	}
}

/***************** SMARTPHONE PORTRAIT *******************/

@media screen and (max-width: 479px) {
	ul#portfolio {
		padding-bottom: 4%;
	}
	
	ul#portfolio li {
		width: 92%;
		margin: 4% 0 0 4% !important;
		clear: both;
	}
}

/* styles for contact us page */
#contactusmain {
	background: url(images/bg4.png) no-repeat top center;
	color: white;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	padding-bottom: 2%;
}

#contactustitle {
	margin: 2% 0 20% 2%;
	width: 96%;
	float: none;
}

#contactustitle h1 {
	font-size: 4.5em;
}

#form, #contact {
	display: block;
	width: 47%;
	margin: 2% 0 0 2%;
	float: left;
}

.inputname {
	float: left;
}

input {
	float: right;
	border: none;
	padding: 1px;
}

textarea {
	width: 100%;
	height: 100%;
	border: none;
}

button {
	border: none;
	background: #ffffff;
	padding: 1%;
	font-family: Times New Roman, serif;
}

#contact {
	color: black;
	background: #ffffff;
	opacity: 0.75;
	padding: 2%;
}

#contact div:after {
	content: ' ';
	display: block;
	clear: both;
}

.right-align {
	float: right;
}

/***************** TABLET PORTRAIT *******************/

@media screen and (max-width:1023px) and (min-width:768px) {
	
}

/***************** SMARTPHONE *******************/

@media screen and (max-width:767px) {
	#contactusmain {
		padding-bottom: 4%;
	}
	
	#form, #contact {
		width: 92%;
		margin: 4% 0 0 4%;
		float: none;
	}
	
	#contactustitle {
		margin: 0 0 10% 4%;
	}
}