#main {
	background: black url(images/bg3.png) no-repeat top center;
	height: 631px;
}

ul#portfolio li {
	display: block;
	float: left;
	width: 229px;
	height: 256px;
	margin-left: 20px;
	background: #ffffff;
	margin-bottom: 20px;
}

ul#portfolio li:nth-child(4n+1) {
	margin-left: 0px;
}

ul#portfolio li:nth-child(n+5) {
	height: 275px;
}

ul#portfolio li div img {
	width: 100%;
}

ul#portfolio li div div {
	margin: 20px;
	color: #333333;
}